# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# IDEs and editors
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
out
*.log

# Environment files
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output
*.test.js

# Documentation
*.md
!README.md
docs

# CI/CD
.gitlab-ci.yml

# Misc
.cursor
.lefthook
lefthook.yml
.husky
