global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'decm-backend'
    metrics_path: '/metrics'
    scheme: 'http'
    # The API Key will be injected by the environment substitution in docker-compose
    authorization:
      credentials: '${METRICS_API_KEY}'
    static_configs:
      - targets: ['backend:8080']
